html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
}

.title {
    text-align: center;
}

.rightSide {
    text-align: right;
}

.leftSide {
    text-align: left;
}

img.emoji {
    height: 3em;
    width: 3em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.3em;
 }